[submodule "vendor/ext/capnp_test"]
	path = vendor/ext/capnp_test
	url = https://github.com/kaos/capnp_test.git
[submodule "vendor/ext/go-capnp"]
	path = vendor/ext/go-capnp
	url = https://github.com/capnproto/go-capnp.git
[submodule "vendor/ext/capnproto"]
	path = vendor/ext/capnproto
	url = https://github.com/capnproto/capnproto.git
